// button styles
//bg colors
//font primary
//font secondary
//border for styling div
//header
body {
  font-family: Helvetica Neue, sans-serif;
  background: $color-main-bg;
  color: $orange;
  text-align: center;
}
.div-hide {
  display: none;
}
